# Basic files
*.bin
*.dbg
*.exe
*.hex
*.log
*.lst
*.o
*.so
.nfs*

# Python
*.egg-info/
*.py[cod]
.pytest_cache/
__pycache__/

# Sphinx documentation
docs/_build/

# Project specific
build/
run_dir/
/*.csv
