# Basic files
*.bin
*.dbg
*.exe
*.hex
*.log
*.lst
*.o
*.so
.nfs*

# Python
*.egg-info/
*.py[cod]
.pytest_cache/
__pycache__/

# Sphinx documentation
docs/_build/
*.drawio.bkp

# Project specific
/*.csv
/*.rpt
build/
outputs/
pyvenv/
run_dir/
